<ul>
  <li>
    <a (click)="displaySubNavbar = false" [routerLink]="['/overview']" [routerLinkActive]="['active-link']">Overview</a>
  </li>
  <li>
    <a (click)="displaySubNavbar = false" [routerLink]="['/platform-policy']" [routerLinkActive]="['active-link']">Platform Policy</a>
  </li>
  <li>
    <a (click)="displaySubNavbar = false" [routerLink]="['/documentation']" [routerLinkActive]="['active-link']">Documentation</a>
  </li>
  <li>
    <a (click)="displaySubNavbar = false" [routerLink]="['/event-templates']" [routerLinkActive]="['active-link']">Events Templates</a>
  </li>
  <li>
    <a (click)="displaySubNavbar = true" [routerLink]="['/code-examples', 'core']" [ngClass]="{'active-link': displaySubNavbar}">Code Examples</a>
  </li>
  <div *ngIf="displaySubNavbar">
    <li>
      <a [routerLink]="['/code-examples', 'core']" [routerLinkActive]="['active-link']">Core</a>
    </li>
    <li>
      <a [routerLink]="['/code-examples', 'community']" [routerLinkActive]="['active-link']">Community</a>
    </li>
    <li>
      <a [routerLink]="['/code-examples', 'federation']" [routerLinkActive]="['active-link']">Federation</a>
    </li>
  </div>
</ul>
