<div class="policy-text">
  <h1>API PORTAL</h1>
  <article>
    Para usar la Plataforma (lo que incluye emplearla para Tratar Datos de la plataforma), aceptas las presentes Condiciones
    de la plataforma (“Condiciones”), así como el resto de las condiciones y políticas que sean de aplicación. Estas pueden incluir las
    Condiciones del servicio de Moonshot Innovation, las Condiciones de uso de Moonshot Innovation, las Condiciones comerciales de Moonshot Innovation, las Condiciones de
    las herramientas para empresas y cualesquiera otras condiciones de Productos de Moonshot Innovation que sean de aplicación.
  </article>
</div>
