<div class="policy-text">
  <h1>API PORTAL</h1>
  <article>
    To use this Platform (including using it to process platform data), you agree to these Platform Terms,
    as well as all other applicable terms and policies. These may include Moonshot Innovation Terms of Service,
    Moonshot Innovation Terms of Use, Moonshot Innovation Business Terms, Business Tools Terms, and any other
    applicable Moonshot Innovation Product terms. You must also accomplish with the applicable requirements
    included in our developer policies.
  </article>
</div>
