<div class="overview-text">
  <h1>API PORTAL</h1>
  <article>
    Moonshot is a flexible innovation management platform. Thanks to this platform you can build your innovation management tool and
    replicate the behavior of an ecosystem in a digital environment. This tool has different modules that help manage the ecosystem
    that you own or are part of. In this work we focus on services´ documentation that the company exposes to its clients,
    specifically, it is based on the development of an interactive documentation for the API developed by the company. The motivation
    for this work is given by the future vision of the company, since documenting this API will be an incentive for software developers
    outside the company to develop their own software modules using the API in question.
    <br><br>
    The particularity of the APIs offered by Moonshot Innovation is that they are based on the 'Event Sourcing' design pattern.
    Event Sourcing refers to systems where the state of the entire application is stored as a sequence of events.
    Here, the term event refers to a "change of state", it is not just a "notification".
    Applications persist events to an Event Store, which is a database of events. Instead of storing the current state of the
    application directly on fields of a table in the database, the events are stored chronologically and can be used to
    rebuild the current state in memory if necessary.
  </article>
</div>
