<div class="overview-text">
  <article>
    Moonshot es una plataforma de gestión flexible de la innovación. Gracias a esta plataforma puedes construir tu herramienta de
    gestión de la innovación y replicar el comportamiento de un ecosistema en un entorno digital. Esta herramienta cuenta con diferentes
    módulos que ayudan a la gestión del ecosistema del que tú eres dueño o formas parte. En este trabajo nos centramos en la documentación de los
    servicios que la empresa expone a sus clientes, en concreto, se basa en el desarrollo de una documentación interactiva para la API desarrollada por la
    empresa. La motivación de este trabajo viene dada por la visión a futuro de la empresa, ya que documentar esta API será un incentivo para que
    desarrolladores de software ajenos a la empresa puedan desarrollar sus propios módulos de software utilizando la API en cuestión.
    <br><br>
    La particularidad de las apis que ofrece Moonshot Innovation es que están basadas en el patrón de diseño de 'Event Sourcing'.
    Event Sourcing hace referencia a sistemas donde el estado de la aplicación completa es almacenado como una secuencia de eventos.
    Aquí, el termino evento se refiere al “cambio de estado”, no es solamente una “notificación”.
    Las aplicaciones persisten los eventos en un Event Store, que es una base de datos de eventos. En lugar de almacenar el estado actual de la
    aplicación directamente campos de una tabla en la base de datos, los eventos son almacenados cronológicamente y pueden ser usados para
    reconstruir el estado actual en memoria si fuera necesario.
  </article>
</div>
